<% users.forEach(function (users) { %>

    <li>  
      <h4> 
        
        
        <%= user.firstName %>  <%= user.lastName %> <br>
          
         <% user.work %> <br>
           
        <% user.photo %> <br><br>
        
        
        
        
        </h4> 
 
       

    </li>                                   
                                 
<% }) %>



